<br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Editando Roteiro</h2>
    </div>
    <div class="panel-body">
      <%= render 'form' %>
      <%= link_to t('buttons.edit'), @newspaper, class:'btn btn-primary' %>
      <%= link_to t('buttons.back'), newspapers_path, class:'btn btn-default' %>
    </div>
  </div>
</div>



